<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Facturacion - Innovasystem</title>

	<style type="text/css">
.contenido {
	width: 70% !important;
	float: left;
}



.menu {
	width: 20% !important;
	float: left;
	color: red; 
	
}

.pagina {
	height: 100% !important;
	width: 100% !important;
}
 ul.ui-menu-child {
    white-space: nowrap;
    width: auto !important;
}
</style>
<link rel="stylesheet" type="text/css" href="styles2.css"></link>

</h:head>
<h:body>

<!--  
<div id="container">
	
    <div id="nav" >
    	<ul class="sf-menu dropdown">
        	<li class="selected"><a href="1.jsp">INICIO</a></li>
            <li><a class="has_submenu" href="examples.jsp">INFORMACION</a>
            	<ul>
                	<li><a href="page.html">SUB 1</a></li>
                    <li><a href="#">SUB 2</a></li>
                    <li><a href="#">SUB 3</a></li>
                </ul>
            </li>
            <li><a class="has_submenu" href="#">Mantenimiento</a>
            	<ul>
                	
                </ul>
            </li>
            <li><a href="#">Facturacion</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Contactos</a></li>
           
             <li> <a href="#"></a> </li>
             <li> <a href="#"></a> </li>
             <li> <a href="#"></a> </li>
             <li> <a href="#"></a> </li>
            <li> <a href="#"></a> </li>
             <li> <a href="#"></a> </li>
             <li> <a href="#"></a> </li>
            <li> <a href="#"></a> </li>
             <li> <a href="#"></a> </li>
             <li><a class="has_submenu">LogOut</a>
             <ul>
                	
                    <li><a href="#">Reiniciar</a></li>
                    <li><a href="#">Actualizar</a></li>
                    <li><a href="login.xhtml"  >Salir </a></li>
                </ul>
             
             </li>
            
        </ul>
    </div>
    </div>
-->

<h:form>
 <p:menubar  autoDisplay="false" style="padding: 10px"  >
        <p:submenu label="File" icon="ui-icon-document">
            <p:submenu label="New" icon="ui-icon-contact">
                <p:menuitem value="Ver tabla" url="tabla.xhtml" />
                <p:menuitem value="Other" url="#" />
            </p:submenu>
            <p:menuitem value="VER TABLA" url="tabla.xhtml" />
            <p:separator />
            <p:menuitem value="Quit" url="#" />
        </p:submenu>
 
        
        <p:submenu label="Help" icon="ui-icon-help">
            <p:menuitem value="Contents" url="#" />
            <p:submenu label="Search" icon="ui-icon-search">
                <p:submenu label="Text">
                    <p:menuitem value="Workspace" url="#" />
                </p:submenu>
                <p:menuitem value="File" url="#" />
            </p:submenu>
        </p:submenu>
 
        <p:submenu label="Actions" icon="ui-icon-gear">
            <p:submenu label="Ajax" icon="ui-icon-refresh">
                <p:menuitem value="Save" actionListener="#{menuView.save}" icon="ui-icon-disk" update=""/>
                <p:menuitem value="Update" actionListener="#{menuView.update}" icon="ui-icon-arrowrefresh-1-w" update=""/>
            </p:submenu>
            <p:submenu label="Non-Ajax" icon="ui-icon-newwin">
                <p:menuitem value="Delete" actionListener="#{menuView.delete}" icon="ui-icon-close" update="" ajax="false"/>
            </p:submenu>
        </p:submenu>
 
        <p:menuitem value="Quit" url="http://www.primefaces.org" icon="ui-icon-close" />
 
 
        
        <f:facet name="options">
            <p:inputText style="margin-right:10px" placeholder="Search"/>
            <p:menuButton value="Options">
              
                <p:menuitem value="Save" actionListener="#{toolbarView.save}" update="" icon="ui-icon-disk" />
                <p:menuitem value="Salir"  action="#{loginMb.cerrarSesion}" icon="ui-icon-arrowrefresh-1-w" />
            </p:menuButton>
         
        </f:facet>
         
    </p:menubar>
    
    </h:form>
   <p:growl id="msgs" showDetail="true" globalOnly="true" />
	<div class="pagina">
		<div class="menu">
			<ui:include src="../menu.xhtml" />
		</div>
		<div class="contenido">
			<ui:insert name="content"></ui:insert>
		</div>
	</div>

	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Sí" icon="fa fa-check"
			styleClass="ui-confirmdialog-yes" />
		<p:commandButton value="No" styleClass="ui-confirmdialog-no"
			icon="fa fa-close" />
	</p:confirmDialog>

</h:body>
</html>
