<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"  
	  xmlns:p="http://primefaces.org/ui">
<h:head>
<title>Hola Mundo Prime</title>
<link rel="stylesheet" type="text/css" media="all" href="http://plantillasjimdodisem.blogcindario.com/ficheros/facebook/style.css" />

</h:head>
<h:body>
	
	
	
	<div class="nav" id="access">
        <h3 class="assistive-text">
            Main menu
        </h3>

        <div class="skip-link">
            <a class="assistive-text" href="#" title="Skip to primary content">Skip to primary content</a>
        </div>

        <div class="skip-link">
            <a class="assistive-text" href="#" title="Skip to secondary content">Skip to secondary content</a>
        </div>

        <div id="timeline-bar">
            <a href="#" class="no-margin" rel="home" title="p"><img class="logo" src="http://plantillasjimdodisem.blogcindario.com/ficheros/facebook/logo.png" alt="" /></a>
            <div class="menu-home-container">
                <ul id="menu-home" class="menu">
                    <li id="menu-item-55" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55">
                        <a href="#">Open Menu</a>
                        <ul class="sub-menu">
                            <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21">
                                <a href="#">Page one</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-59" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-59">
                                        <a href="#">Sub Page one</a>
                                    </li>

                                    <li id="menu-item-60" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-60">
                                        <a href="#">Sub Page two</a>
                                    </li>

                                    <li id="menu-item-68" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-68">
                                        <a href="#">Sub Page three</a>
                                    </li>
                                </ul>
                            </li>

                            <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20">
                                <a href="#">Page two</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-61" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-61">
                                        <a href="#">Sub Page one</a>
                                    </li>

                                    <li id="menu-item-62" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62">
                                        <a href="#">Sub Page two</a>
                                    </li>

                                    <li id="menu-item-69" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-69">
                                        <a href="#">Sub Page three</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li id="menu-item-354" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-354">
                        <a href="#">Download</a>
                    </li>

                    <li id="menu-item-159" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-157 current_page_item menu-item-159">
                        <a href="#">Features</a>
                    </li>

                    <li id="menu-item-318" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318">
                        <a href="#">Gallery</a>
                    </li>

                    <li id="menu-item-177" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-177">
                        <a href="#">About Us</a>
                    </li>

                    <li id="menu-item-293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-293">
                        <a href="#">News</a>
                    </li>

                    <li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58">
                        <a href="#">Contacts</a>
                        <ul class="sub-menu">
                            <li id="menu-item-304" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-304">
                                <a href="mailto:tu%20correo">info@timeline-wp.com</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div id="box-scrool-bar">
                <div class="timeline-scroll-bar">
                    <ul>
                        
                    </ul>
                </div>
                <!-- #timeline-scroll-bar -->
            </div>
            <!-- #box-scrool-bar -->
        </div>
    </div>
	<p:inputText id="name" required="true" /> <br> </br>
	<p:outputLabel value="Hola Mundo Prime"></p:outputLabel>
	------------------------------------------
	
	
	<h:form id="form">
    <p:growl id="msgs" showDetail="true" />
 
    <h:panelGrid columns="2" cellpadding="5">
        <p:outputLabel for="inline" value="Inline:" />
        <p:calendar id="inline" value="#{calendarView.date1}" mode="inline" />
 
        <p:outputLabel for="popup" value="Popup:" />
        <p:calendar id="popup" value="#{calendarView.date2}" />
 
        <p:outputLabel for="button" value="Button:" />
        <p:calendar id="button" value="#{calendarView.date3}" showOn="button" />
 
        <p:outputLabel for="event" value="Select Event:" />
        <p:calendar id="event" value="#{calendarView.date4}">
            <p:ajax event="dateSelect" listener="#{calendarView.onDateSelect}" update="msgs" />
        </p:calendar>
 
        <p:outputLabel for="german" value="German:" />
        <p:calendar id="german" value="#{calendarView.date5}" locale="de" navigator="true" pattern="yyyy-MMM-dd" />
 
        <p:outputLabel for="restricted" value="Restricted:" />
        <p:calendar id="restricted" value="#{calendarView.date6}" mindate="4/1/14" maxdate="7/1/14" />
 
        <p:outputLabel for="multi" value="Multiple:" />
        <p:calendar id="multi" value="#{calendarView.date7}" pages="3" />
 
        <p:outputLabel for="effect" value="Effect:" />
        <p:calendar id="effect" value="#{calendarView.date8}" effect="fold" />
 
        <p:outputLabel for="mask" value="Mask:" />
        <p:calendar id="mask" value="#{calendarView.date9}" pattern="dd-MM-yyyy" mask="true" />
 
        <p:outputLabel for="datetime" value="Datetime:" />
        <p:calendar id="datetime" value="#{calendarView.date10}" pattern="MM/dd/yyyy HH:mm:ss" />
 
        <p:outputLabel for="time" value="Time:" />
        <p:calendar id="time" value="#{calendarView.date11}" pattern="HH:mm" timeOnly="true"  />
    </h:panelGrid>
 
    <p:commandButton value="Submit" update="msgs" actionListener="#{calendarView.click}" icon="ui-icon-check" />
 
    <p:dialog modal="true" resizable="false" header="Values" widgetVar="dlg" showEffect="fold">
        <p:panelGrid id="display" columns="2" columnClasses="label,value">
            <h:outputText value="Inline:" />
            <h:outputText value="#{calendarView.date1}">
                <f:convertDateTime pattern="MM/dd/yyyy" />
            </h:outputText>
 
            <h:outputText value="Popup:" />
            <h:outputText value="#{calendarView.date2}">
                <f:convertDateTime pattern="MM/dd/yyyy" />
            </h:outputText>
 
            <h:outputText value="Button:" />
            <h:outputText value="#{calendarView.date3}">
                <f:convertDateTime pattern="MM/dd/yyyy" />
            </h:outputText>
 
            <h:outputText value="Event:" />
            <h:outputText value="#{calendarView.date4}">
                <f:convertDateTime pattern="MM/dd/yyyy" />
            </h:outputText>
 
            <h:outputText value="German:" />
            <h:outputText value="#{calendarView.date5}">
                <f:convertDateTime pattern="MM/dd/yyyy" />
            </h:outputText>
 
            <h:outputText value="Restricted:" />
            <h:outputText value="#{calendarView.date6}">
                <f:convertDateTime pattern="MM/dd/yyyy" />
            </h:outputText>
 
            <h:outputText value="Multiple:" />
            <h:outputText value="#{calendarView.date7}">
                <f:convertDateTime pattern="MM/dd/yyyy" />
            </h:outputText>
 
            <h:outputText value="Effect:" />
            <h:outputText value="#{calendarView.date8}">
                <f:convertDateTime pattern="MM/dd/yyyy" />
            </h:outputText>
 
            <h:outputText value="Mask:" />
            <h:outputText value="#{calendarView.date9}">
                <f:convertDateTime pattern="MM/dd/yyyy" />
            </h:outputText>
 
            <h:outputText value="Datetime:" />
            <h:outputText value="#{calendarView.date10}">
                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
            </h:outputText>
 
            <h:outputText value="Time:" />
            <h:outputText value="#{calendarView.date11}">
                <f:convertDateTime pattern="HH:mm" />
            </h:outputText>
        </p:panelGrid>
    </p:dialog>
</h:form>
	
	
	--------------------------------------------------------------------
	
	         
    <h:panelGrid columns="2" cellpadding="5" style="margin-left: 20px">
        <h:outputText value="Inline: " />
        <p:colorPicker value="#{colorView.colorInline}" mode="inline" />
 
        <h:outputText value="Popup: " />
        <p:colorPicker value="#{colorView.colorPopup}" />                   
    </h:panelGrid>
 
    <p:separator />
 
    <p:commandButton value="Submit" oncomplete="PF('dlg').show();" update="grid" style="margin-left: 20px" />
 
    <p:dialog modal="true" widgetVar="dlg" showEffect="fade" hideEffect="fade" header="Selected Colors" resizable="false">
        <h:panelGrid id="grid" columns="2" cellpadding="5">
            <h:outputText value="Inline color: " />
            <h:outputText value="#{colorView.colorInline}" style="background-color: \##{colorView.colorInline}" />
 
            <h:outputText value="Popup color: " />
            <h:outputText value="#{colorView.colorPopup}" style="background-color: \##{colorView.colorPopup}" />
        </h:panelGrid>
    </p:dialog> 



----------------------------------------------------
	
	
	
	
</h:body>
</html>