<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>login</title>
</h:head>
<h:body>

	<h:form>
		<p:growl id="msgs" showDetail="true" globalOnly="true" />

		<p:panel id="basic" header="Login" style="margin-bottom:20px">
			<h:panelGrid columns="1" cellpadding="10">

				<p:inputText value="#{loginMb.usuario}"
					placeholder="Ingresar Usuario" >
				<p:ajax event="change" process="@this"
					listener="#{loginMb.busquedaAjax}" update="msgs" />
					</p:inputText>
				<p:inputText value="#{loginMb.clave}" placeholder="Ingresar Clave"
					type="password" />
			</h:panelGrid>
			<p:commandButton action="#{loginMb.login}" value="login"
				update="msgs" />
		</p:panel>
	</h:form>

</h:body>
</html>
