<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">
	<ui:define name="content">


<h:head>
	<title>Mantenimientos de clientes</title>
</h:head>

	<h:form id="form">
		<p:growl id="msgs" showDetail="true" globalOnly="true" />
		<p:panel id="basic" header="Mantenimiento de cliente"
			style="margin-bottom:20px">
			<h:panelGrid columns="1" cellpadding="10">
				<h:panelGrid columns="2" >
					<p:inputNumber value="#{mantenimientoMb.idCliente}" decimalPlaces="0"
					thousandSeparator=""
						placeholder="Buscar">
						<p:ajax event="change" process="@this" />
					</p:inputNumber>
					<p:commandButton
						action="#{mantenimientoMb.consultarClienteXPk}"
						oncomplete="PF('verDialog').show()"
						process="@this" icon="fa fa-search" 
						update="msgs,basic,panelVer" />
				</h:panelGrid>
				
				<p:inputText value="#{mantenimientoMb.clienteNuevo.identificacion}"
					placeholder="Identificacion" >
					
						<p:ajax event="blur" process="@this"
					listener="#{mantenimientoMb.validarAjax}" update="msgs" />
					
					</p:inputText>
					
					
					
				<p:inputText value="#{mantenimientoMb.clienteNuevo.nombre}"
					placeholder="Nombres">
						<p:ajax event="change" process="@this" />
					</p:inputText>
					
					<p:inputText value="#{mantenimientoMb.clienteNuevo.apellido}"
					placeholder="Apellidos">
						<p:ajax event="change" process="@this" />
					</p:inputText>
					
					<p:inputText value="#{mantenimientoMb.clienteNuevo.direccion}"
					placeholder="Direccion">
						<p:ajax event="change" process="@this" />
					</p:inputText>
					
					<p:inputText value="#{mantenimientoMb.clienteNuevo.telefono}"
					placeholder="Telefono">
						<p:ajax event="change" process="@this" />
					</p:inputText>
					
					<p:inputText value="#{mantenimientoMb.clienteNuevo.email}"
					placeholder="E-mail" requiredMessage="Se requiere un correo electrónico"  
				   required="true"  validatorMessage="El correo ingresado es incorrecto">
						<p:ajax event="change" process="@this" />
					
					</p:inputText>
					
			</h:panelGrid>
			
			<p:commandButton action="#{mantenimientoMb.crearCliente}" process="@this"
				value="Crear cliente" update="msgs,basic" />

			<p:commandButton action="#{mantenimientoMb.consultarTodosCliente}"
				process="@this" value="Consultar cliente" update="msgs,basic" />

			<p:dataTable var="cliente" emptyMessage="No hay Registros de Clientes"
				value="#{mantenimientoMb.lstCliente}" id="tablaCliente"
				rendered="#{mantenimientoMb.lstCliente!=null}">
				
				<p:column headerText="Id">
					<h:outputText value="#{cliente.clienteId}" />
				</p:column>
				
				<p:column headerText="Identificacion">
					<h:outputText value="#{cliente.identificacion}" />
				</p:column>
				<p:column headerText="Nombre">
					<h:outputText value="#{cliente.nombre}" />
				</p:column>
				
				<p:column headerText="Apellido">
					<h:outputText value="#{cliente.apellido}" />
				</p:column>
				
				<p:column headerText="Direccion">
					<h:outputText value="#{cliente.direccion}" />
				</p:column>
				
				<p:column headerText="Telefono">
					<h:outputText value="#{cliente.telefono}" />
				</p:column>
				
				<p:column headerText="E-mail">
					<h:outputText value="#{cliente.email}" />
				</p:column>
				
				
				<p:column headerText="Mostrar">
					<p:commandButton update="@([id$=panelVer])" process="@this"
						action="#{mantenimientoMb.seleccionarCliente}"
						oncomplete="PF('verDialog').show()" icon="ui-icon-search" title="Ver">
		            </p:commandButton>
		            
		            <p:commandButton update="@([id$=editarOutputPanel])" process="@this"
		            action="#{mantenimientoMb.seleccionarCliente}"
						oncomplete="PF('editarDialog').show()" icon="fa fa-fw fa-edit" title="Editar">
		            </p:commandButton>
		            
					<p:commandButton update="tablaCliente"
						action="#{mantenimientoMb.eliminarCliente}" icon="fa fa-remove">
						<p:confirm header="Confirmación Eliminación" icon="ui-icon-alert" 
							message="Está seguro que desea eliminar el Cliente #{cliente.nombre}" />
					</p:commandButton>
		            
				</p:column>
			</p:dataTable>

		</p:panel>

	<p:dialog header="Informacion de cliente" showEffect="bounce" widgetVar="verDialog" modal="false"  hideEffect="fade" resizable="false">
        <p:outputPanel id="panelVer" style="text-align:center;">
            <p:panelGrid  columns="2" rendered="#{mantenimientoMb.clienteConsulta!=null}" >
            
            	<h:outputText value="Id:" />
                <h:outputText value="#{mantenimientoMb.clienteConsulta.clienteId}" />
 
            
                <h:outputText value="Identificacion:" />
                <h:outputText value="#{mantenimientoMb.clienteConsulta.identificacion}" />
 
                <h:outputText value="Nombre" />
                <h:outputText value="#{mantenimientoMb.clienteConsulta.nombre}" />
 
 				<h:outputText value="Apellido" />
                <h:outputText value="#{mantenimientoMb.clienteConsulta.apellido}" />
                
 				<h:outputText value="Direccion" />
                <h:outputText value="#{mantenimientoMb.clienteConsulta.direccion}" />
 
                <h:outputText value="Telefono" />
                <h:outputText value="#{mantenimientoMb.clienteConsulta.telefono}" />
 
 				<h:outputText value="Email" />
                <h:outputText value="#{mantenimientoMb.clienteConsulta.email}" />
 
            </p:panelGrid>
        </p:outputPanel>
    </p:dialog>
    
    <p:dialog header="Editar Cliente"  widgetVar="editarDialog"  modal="false" showEffect="fade" hideEffect="fade" resizable="false">
	        <p:outputPanel id="editarOutputPanel" style="text-align:center;">
	            <p:panelGrid  columns="2" rendered="#{mantenimientoMb.clienteConsulta!=null}" >
	            
	            <h:outputText value="Id:" /> 
                <h:outputText value="#{mantenimientoMb.clienteConsulta.clienteId}" />
   
                <h:outputText value="Identificacion:" />
                <p:inputText value="#{mantenimientoMb.clienteConsulta.identificacion}" >
                <p:ajax event="change" process="@this" />
                 </p:inputText>
 
                <h:outputText value="Nombre" />
                <p:inputText value="#{mantenimientoMb.clienteConsulta.nombre}" >
                <p:ajax event="change" process="@this" />
 				</p:inputText>
 
 				<h:outputText value="Apellido" />
                <p:inputText value="#{mantenimientoMb.clienteConsulta.apellido}" >
                <p:ajax event="change" process="@this" />
                </p:inputText>
                
 				<h:outputText value="Direccion" />
                <p:inputText value="#{mantenimientoMb.clienteConsulta.direccion}" >
 				<p:ajax event="change" process="@this" />
 				</p:inputText>
 				
                <h:outputText value="Telefono" />
                <p:inputText value="#{mantenimientoMb.clienteConsulta.telefono}" >
                <p:ajax event="change" process="@this" />
 				</p:inputText>
 				
 				 <h:outputText value="E-mail" />
                <p:inputText value="#{mantenimientoMb.clienteConsulta.email}" >
                <p:ajax event="change" process="@this" />
 				</p:inputText>
 				
	            </p:panelGrid>
	            <p:commandButton
						action="#{mantenimientoMb.actualizarCliente}"
						oncomplete="PF('editarDialog').hide()"
						process="@this" icon="fa fa-save" 
						update="msgs,basic,panelVer" />
	        </p:outputPanel>
    </p:dialog>



	</h:form>
	
			<p:confirmDialog  global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Sí" 
			icon="fa fa-check" styleClass="ui-confirmdialog-yes"/>
		<p:commandButton value="No" styleClass="ui-confirmdialog-no"
			icon="fa fa-close" />
	</p:confirmDialog>
	

	</ui:define>
</ui:composition>