<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">
	<ui:define name="content">
	
<h:head> 
	<title>Detalle de factura</title>
</h:head>

	<h:form id="form">
		<p:growl id="msgs" showDetail="true" globalOnly="true" />
		<p:panel id="basic" align="center" >
			<p:panelGrid columns="2">
			<h1 align="center">FACTURA </h1>
			<h2 align="center">Empresa XYZ SA </h2>
			<h3 align="center">Jonathan Teran</h3>
			<h3 align="center">RUC 1207481803001</h3>
			
			<p:panelGrid columns="2" border="0">
			<h2> CODIGO </h2> <h:outputText value="EJE: COD7859" />
			 <h:outputText value="PDF417" />
    <p:barcode value="0123456789" type="pdf417"/>
			<h:outputText value="FECHA"  />
  			 <p:calendar id="mask" value="#{mantenimientoMb.facturaNueva.fecha}" pattern="dd-MM-yyyy" mask="true" >
				<p:ajax event="change" process="@this" />
				 </p:calendar>
				 
			 
   				 
  			</p:panelGrid>
			</p:panelGrid>
			
			<p:panelGrid columns="0">
			<p:selectOneMenu converter="ConverterGeneral"
						value="#{mantenimientoMb.facturaNueva.cliente}"
						label="Cliente">
						<f:selectItem noSelectionOption="true" 
						itemLabel="Seleccione un cliente"/>
						<f:selectItems value="#{mantenimientoMb.lstCliente}"
							var="obj" itemLabel="#{obj.identificacion}"
							itemValue="#{obj}" />
						<p:ajax event="change" process="@this" />
					</p:selectOneMenu>
					
			 <h:inputText placeolder="Cliente" placeholder="Cantidad" required="true">    </h:inputText>
			
			<p:commandButton action="#" process="@this"
				value="Ingresar cliente" update="msgs,basic" />
			
			
			</p:panelGrid>
				
				
					
				
			<!-- 
				<p:selectOneMenu converter="ConverterGeneral"
						value="#{mantenimientoMb.detalleFacturaNueva.factura}"
						label="Factura Id">
						<f:selectItem noSelectionOption="true" 
						itemLabel="Seleccione una factura"/>
						<f:selectItems value="#{mantenimientoMb.lstFactura}"
							var="obj" itemLabel="#{obj.facturaId}"
							itemValue="#{obj}" />
						<p:ajax event="change" process="@this" />
					</p:selectOneMenu>
					 -->	
					 
					<p:selectOneMenu converter="ConverterGeneral"
						value="#{mantenimientoMb.detalleFacturaNueva.producto}"
						label="Tipo producto Id">
						<f:selectItem noSelectionOption="true" 
						itemLabel="Seleccione un producto"/>
						<f:selectItems value="#{mantenimientoMb.lstProducto}"
							var="obj" itemLabel="#{obj.nombre}"
							itemValue="#{obj}" />
						<p:ajax event="change" process="@this" />
					</p:selectOneMenu>
					
					<p:inputNumber value="#{mantenimientoMb.detalleFacturaNueva.cantidad}" 
						 decimalPlaces="0"  thousandSeparator="" placeholder="Cantidad" required="true" requiredMessage="Se requiere valor" > 
						<p:ajax event="change" process="@this" />
					</p:inputNumber>
						
					<p:selectOneMenu converter="ConverterGeneral"
						value="#{mantenimientoMb.detalleFacturaNueva.tipoImpuestoBean}"
						label="Tipo impuesto Id">
						<f:selectItem noSelectionOption="true" 
						itemLabel="Seleccione un tipo impuesto"/>
						<f:selectItems value="#{mantenimientoMb.lstTipoImpuesto}"
							var="obj" itemLabel="#{obj.nombre}"
							itemValue="#{obj}" />
						<p:ajax event="change" process="@this" />
					</p:selectOneMenu>
					
					<p:inputNumber value="#{mantenimientoMb.detalleFacturaNueva.valorDescuento}" 
						 decimalPlaces="0"  thousandSeparator="" placeholder="Valor descuento" required="true" requiredMessage="Se requiere valor" > 
						<p:ajax event="change" process="@this" />
					</p:inputNumber>
					
					<p:inputNumber value="#{mantenimientoMb.detalleFacturaNueva.valorNeto}" 
						 decimalPlaces="0"  thousandSeparator="" placeholder="Valor neto" required="true" requiredMessage="Se requiere valor" > 
						<p:ajax event="change" process="@this" />
					</p:inputNumber>
					
				
			
			
			<p:commandButton action="#{mantenimientoMb.crearDetalleFactura}" process="@this"
				value="Crear detalle factura" update="msgs,basic" />

			<p:commandButton action="#{mantenimientoMb.consultarTodosDetalleFactura}"
				process="@this" value="Consultar detalle factura" update="msgs,basic" />

			<p:dataTable var="detalleFactura" emptyMessage="No hay Registros de detalles de facturas"
				value="#{mantenimientoMb.lstCliente}" id="tablaDetalleFactura"
				rendered="#{mantenimientoMb.lstDetalleFactura!=null}">
				
				<p:column headerText="Id factura">
					<h:outputText value="{detalleFactura}" />
				</p:column>
				
				<p:column headerText="Id detalle factura">
					<h:outputText value="" />
				</p:column>
				
				<p:column headerText="Producto">
					<h:outputText value="" />
				</p:column>
				
				<p:column headerText="Tipo Impuesto">
					<h:outputText value="" />
				</p:column>
				
				<p:column headerText="Valor descuento">
					<h:outputText value="" />
				</p:column>
				
				<p:column headerText="Valor neto">
					<h:outputText value="" />
				</p:column>
				
				
				
				<p:column headerText="Mostrar">
					<p:commandButton update="@([id$=panelVer])" process="@this"
						action="#{mantenimientoMb.seleccionarDetalleFactura}"
						oncomplete="PF('verDialog').show()" icon="ui-icon-search" title="Ver">
		            </p:commandButton>
		            
		            <p:commandButton update="@([id$=editarOutputPanel])" process="@this"
		            action="#{mantenimientoMb.seleccionarDetalleFactura}"
						oncomplete="PF('editarDialog').show()" icon="fa fa-fw fa-edit" title="Editar">
		            </p:commandButton>
		            
					<p:commandButton update="tablaDetalleFactura"
						action="#{mantenimientoMb.eliminarDetalleFactura}" icon="fa fa-remove">
						<p:confirm header="Confirmación Eliminación" icon="ui-icon-alert" 
							message="Está seguro que desea eliminar el Producto #{producto.nombre}" />
					</p:commandButton>
		            
				</p:column>
			</p:dataTable>

		</p:panel>

	<p:dialog header="Informacion detalle factura" showEffect="bounce" widgetVar="verDialog" modal="false"  hideEffect="fade" resizable="false">
        <p:outputPanel id="panelVer" style="text-align:center;">
            <p:panelGrid  columns="2" rendered="#{mantenimientoMb.detalleFacturaConsulta!=null}" >
            
            	<h:outputText value="Id factura:" />
                <h:outputText value="#{mantenimientoMb.detalleFacturaConsulta.factura}" />
 
            
                <h:outputText value="Id detalle factura" />
                <h:outputText value="#{mantenimientoMb.detalleFacturaConsulta.detalleFacturaId}" />
 
                <h:outputText value="Producto" />
                <h:outputText value="#{mantenimientoMb.detalleFacturaConsulta.producto}" />
 
 				<h:outputText value="Cantidad" />
                <h:outputText value="#{mantenimientoMb.detalleFacturaConsulta.cantidad}" />
                
 				<h:outputText value="Tipo impuesto" />
                <h:outputText value="#{mantenimientoMb.detalleFacturaConsulta.tipoImpuestoBean}" />
 
                <h:outputText value="Valor descuento" />
                <h:outputText value="#{mantenimientoMb.detalleFacturaConsulta.valorDescuento}" />
 
 				<h:outputText value="Valor neto" />
                <h:outputText value="#{mantenimientoMb.detalleFacturaConsulta.valorNeto}" />
 
            </p:panelGrid>
        </p:outputPanel>
    </p:dialog>

	
</h:form>
	</ui:define>
</ui:composition>	