<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">
	<ui:define name="content">
<h:head>
	<title>Factura</title>
</h:head>

	<link rel="stylesheet" type="text/css" href="estilos.css"></link>


	<h:form id="form">
		<p:growl id="msgs" showDetail="true" globalOnly="true" />

		<p:panel id="basic" header="Registro de factura"
			style="margin-bottom:20px">
			<h:panelGrid columns="1" cellpadding="10">

				
       			 <p:calendar id="mask" value="#{mantenimientoMb.facturaNueva.fecha}" pattern="dd-MM-yyyy" mask="true" >
				<p:ajax event="change" process="@this" />
				 </p:calendar>
 
				
				<p:selectOneMenu converter="ConverterGeneral"
						value="#{mantenimientoMb.facturaNueva.cliente}"
						label="Cliente">
						<f:selectItem noSelectionOption="true" 
						itemLabel="Seleccione un cliente"/>
						<f:selectItems value="#{mantenimientoMb.lstCliente}"
							var="obj" itemLabel="#{obj.identificacion}"
							itemValue="#{obj}" />
						<p:ajax event="change" process="@this" />
					</p:selectOneMenu>
					
					
			</h:panelGrid>
				<p:commandButton action="#{mantenimientoMb.crearFactura}"
				process="@this" value="Crear Factura" update="msgs,basic"  />

			<p:commandButton action="#{mantenimientoMb.consultarTodosFactura}"
				value="Consultar Facturas" process="@this" update="msgs,basic" />

			<p:dataTable var="factura" emptyMessage="No hay Registros de facturas"
				value="#{mantenimientoMb.lstFactura}" id="tablaFactura"
				
				rendered="#{mantenimientoMb.lstFactura!=null}">

				<p:column headerText="Id">
					<h:outputText value="#{factura.facturaId}" />
				</p:column>

				<p:column headerText="Fecha">
					<h:outputText value="#{factura.fecha}" />
				</p:column>

				<p:column headerText="Cliente">
					<h:outputText value="#{factura.cliente}" />
				</p:column>

				<p:column headerText="Mostrar">
				<p:commandButton update="@([id$=tipoProductoOutputPanel])" process="@this"
						action="#{mantenimientoMb.seleccionarFactura}"
						oncomplete="PF('tipoProductoDialog').show()" icon="ui-icon-search" title="Ver">
		            </p:commandButton>
				
					
					
				</p:column>

				<p:column headerText="Editar">
					<p:commandButton update="@([id$=editartipoProducto])" 
						oncomplete="PF('ediproducto').show()" icon="fa fa-fw fa-edit"
						title="Editar"  
						action="#{mantenimientoMb.seleccionarFactura}" process="@this">
						 
				 	</p:commandButton>
				</p:column>


				<p:column headerText="Eliminar">
					<p:commandButton update="tablaFactura"
						action="#{mantenimientoMb.eliminarFactura}" icon="fa fa-fw fa-remove" >
						
						
						
					</p:commandButton>

				</p:column>

			</p:dataTable>
			

		</p:panel>

		
		<p:dialog header="Informacion de factura" widgetVar="tipoProductoDialog" modal="false" showEffect="fade" hideEffect="fade" resizable="false">
        <p:outputPanel id="tipoProductoOutputPanel" style="text-align:center;">
            <p:panelGrid  columns="2" rendered="#{mantenimientoMb.facturaConsulta!=null}" >
                <h:outputText value="Id:" />
                <h:outputText value="#{mantenimientoMb.facturaConsulta.facturaId}" />
 
                <h:outputText value="Fecha" />
                <h:outputText value="#{mantenimientoMb.facturaConsulta.fecha}" />
 
                <h:outputText value="Cliente" />
                <h:outputText value="#{mantenimientoMb.facturaConsulta.cliente}" />
 
            </p:panelGrid>
        </p:outputPanel>
    </p:dialog>
		<p:dialog header="Editar factura" widgetVar="ediproducto"
			modal="false" showEffect="fade" hideEffect="fade" resizable="false">
			<p:outputPanel id="editartipoProducto" style="text-align:center;">
				<p:panelGrid columns="2" rendered="#{mantenimientoMb.facturaConsulta!=null}">

					<h:outputText value="Id:" />
					<h:outputText
						value="#{mantenimientoMb.facturaConsulta.facturaId}" />

					<h:outputText value="Fecha" />
					<p:inputText value="#{mantenimientoMb.facturaConsulta.fecha}">
					<p:ajax event="change" process="@this" />
					</p:inputText>

					<h:outputText value="Cliente" />
					<p:inputText
						value="#{mantenimientoMb.facturaConsulta.cliente}">
						<p:ajax event="change" process="@this" />
					</p:inputText>


				</p:panelGrid>
				
				<p:commandButton
						action="#{mantenimientoMb.actualizarFactura}"
						oncomplete="PF('ediproducto').hide()"
						process="@this" icon="fa fa-save" 
						update="msgs,basic,tipoProductoOutputPanel" />
	        </p:outputPanel>
		</p:dialog>
</h:form>

	</ui:define>
</ui:composition>
