<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">
	<ui:define name="content">


<h:head>
	<title>Marca</title>
</h:head>

	<link rel="stylesheet" type="text/css" href="estilos.css"></link>


	<h:form id="form">
		<p:growl id="msgs" showDetail="true" globalOnly="true" />

		<p:panel id="basic" header="Registro de marca"
			style="margin-bottom:20px">
			<h:panelGrid columns="1" cellpadding="10">

				<p:panelGrid columns="2">
					<p:inputNumber value="#{mantenimientoMb.idMarca}"
						decimalPlaces="0" thousandSeparator="" placeholder="Buscar">
						<p:ajax event="change" process="@this" />
				</p:inputNumber>
				
					<p:commandButton
						action="{mantenimientoMb.consultarMarcaXPk}"
						oncomplete="PF('producto').show()" process="@this"
						icon="fa fa-search" update="msgs,basic,tipoProductoOutputPanel" />
				</p:panelGrid>


				<p:inputText value="#{mantenimientoMb.marcaNueva.nombre}"
					placeholder="Nombre">
					<p:ajax event="change" process="@this" />
					</p:inputText>
				<p:inputTextarea value="#{mantenimientoMb.marcaNueva.descripcion}"
					placeholder="Descripcion" >
					<p:ajax event="change" process="@this" />
					</p:inputTextarea>
					
			</h:panelGrid>
				<p:commandButton action="#{mantenimientoMb.crearMarca}"
				process="@this" value="Crear marca" update="msgs,basic"  />

			<p:commandButton action="#{mantenimientoMb.consultarTodosMarca}"
				value="CONSULTAR MARCA." process="@this" update="msgs,basic" />

			<p:dataTable var="marca" emptyMessage="No hay Registros de marcas"
				value="#{mantenimientoMb.lstMarca}" id="tablaMarca"
				
				rendered="#{mantenimientoMb.lstMarca!=null}">

				<p:column headerText="Id">
					<h:outputText value="#{marca.marcaId}" />
				</p:column>

				<p:column headerText="Nombre">
					<h:outputText value="#{marca.nombre}" />
				</p:column>

				<p:column headerText="Descripcion">
					<h:outputText value="#{marca.descripcion}" />
				</p:column>

				<p:column headerText="Mostrar">
				<p:commandButton update="@([id$=tipoProductoOutputPanel])" process="@this"
						action="#{mantenimientoMb.seleccionarMarca}"
						oncomplete="PF('tipoProductoDialog').show()" icon="ui-icon-search" title="Ver">
		            </p:commandButton>
				
					<p:commandButton update="@([id$=editartipoProducto])" 
						oncomplete="PF('ediproducto').show()" icon="fa fa-fw fa-edit"
						title="Editar"  
						action="#{mantenimientoMb.seleccionarMarca}" process="@this">
						 
				 	</p:commandButton>
				 	
					<p:commandButton update="tablaMarca"
						action="#{mantenimientoMb.eliminarMarca}" icon="fa fa-fw fa-remove" >
						<p:confirm header="Confirmacion Eliminacion" icon="ui-icon-alert" 
						message="Esta seguro que desea eliminar la marca #{marca.nombre}" />
						
						
					</p:commandButton>
				</p:column>

				
			</p:dataTable>
			

		</p:panel>

		
		<p:dialog header="Informacion de marca" widgetVar="tipoProductoDialog" modal="false" showEffect="fade" hideEffect="fade" resizable="false">
        <p:outputPanel id="tipoProductoOutputPanel" style="text-align:center;">
            <p:panelGrid  columns="2" rendered="#{mantenimientoMb.marcaConsulta!=null}" >
                <h:outputText value="Id:" />
                <h:outputText value="#{mantenimientoMb.marcaConsulta.marcaId}" />
 
                <h:outputText value="Nombre" />
                <h:outputText value="#{mantenimientoMb.marcaConsulta.nombre}" />
 
                <h:outputText value="Descripcion" />
                <h:outputText value="#{mantenimientoMb.marcaConsulta.descripcion}" />
 
            </p:panelGrid>
        </p:outputPanel>
    </p:dialog>
		
		
		
		
		


		<p:dialog header="Editar marca" widgetVar="ediproducto"
			modal="false" showEffect="fade" hideEffect="fade" resizable="false">
			<p:outputPanel id="editartipoProducto" style="text-align:center;">
				<p:panelGrid columns="2" rendered="#{mantenimientoMb.marcaConsulta!=null}">

					<h:outputText value="Id:" />
					<h:outputText
						value="#{mantenimientoMb.marcaConsulta.marcaId}" />

					<h:outputText value="Nombre" />
					<p:inputText value="#{mantenimientoMb.marcaConsulta.nombre}">
					<p:ajax event="change" process="@this" />
					</p:inputText>

					<h:outputText value="Descripcion" />
					<p:inputText
						value="#{mantenimientoMb.marcaConsulta.descripcion}">
						<p:ajax event="change" process="@this" />
					</p:inputText>


				</p:panelGrid>
				
				<p:commandButton
						action="#{mantenimientoMb.actualizarMarca}"
						oncomplete="PF('ediproducto').hide()"
						process="@this" icon="fa fa-save" 
						update="msgs,basic,tipoProductoOutputPanel" />
	        </p:outputPanel>
		</p:dialog>
</h:form>

	<p:confirmDialog  global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Si" 
			icon="fa fa-check" styleClass="ui-confirmdialog-yes"/>
		<p:commandButton value="No" styleClass="ui-confirmdialog-no"
			icon="fa fa-close" />
	</p:confirmDialog>
	

	</ui:define>
</ui:composition>	
