<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">
	<ui:define name="content">
<h:head>
	<title>Mantenimientos de producto</title>
</h:head>

	<h:form id="form">
		<p:growl id="msgs" showDetail="true" globalOnly="true" />
		<p:panel id="basic" header="Mantenimiento de producto"
			style="margin-bottom:20px">
			<h:panelGrid columns="1" cellpadding="10">
				<h:panelGrid columns="2" >
					<p:inputNumber value="#{mantenimientoMb.idBusqueda}" decimalPlaces="0"
					thousandSeparator=""
						placeholder="Buscar">
						<p:ajax event="change" process="@this" />
					</p:inputNumber>
					<p:commandButton
						action="#{mantenimientoMb.consultarProductoXPk}"
						oncomplete="PF('verDialog').show()"
						process="@this" icon="fa fa-search" 
						update="msgs,basic,panelVer" />
				</h:panelGrid>
				
				<p:inputText value="#{mantenimientoMb.productoNuevo.nombre}"
					placeholder="Nombre">
						<p:ajax event="change" process="@this" />
					</p:inputText>
					
					<p:selectOneMenu converter="ConverterGeneral"
						value="#{mantenimientoMb.productoNuevo.tipoProducto}"
						label="Tipo de Producto">
						<f:selectItem noSelectionOption="true" 
						itemLabel="Seleccione un tipo de producto"/>
						<f:selectItems value="#{mantenimientoMb.lstTipoProducto}"
							var="obj" itemLabel="#{obj.nombre}"
							itemValue="#{obj}" />
						<p:ajax event="change" process="@this" />
					</p:selectOneMenu>
					
					
					
					<p:inputNumber value="#{mantenimientoMb.productoNuevo.precioUnitario}" decimalPlaces="2"
					thousandSeparator=""
						placeholder="Precio Unitario">
						<p:ajax event="change" process="@this" />
					</p:inputNumber>
					
					<p:inputNumber value="#{mantenimientoMb.productoNuevo.stock}" decimalPlaces="0"
					thousandSeparator="" placeholder="Stock">
						<p:ajax event="change" process="@this" />
					</p:inputNumber>
						
						<p:inputTextarea
						value="#{mantenimientoMb.productoNuevo.descripcion}"
						placeholder="Descripcion" >
						<p:ajax event="change" process="@this" />
						</p:inputTextarea>
						
			</h:panelGrid>
			<p:commandButton action="#{mantenimientoMb.crearProducto}" process="@this"
				value="Crear Producto" update="msgs,basic" />

			<p:commandButton action="#{mantenimientoMb.consultarTodosProducto}"
				process="@this" value="Consultar Producto" update="msgs,basic" />

			<p:dataTable var="producto" emptyMessage="No hay Registros de Producto"
				value="#{mantenimientoMb.lstProducto}" id="tablaProducto"
				rendered="#{mantenimientoMb.lstProducto!=null}">
				<p:column headerText="Id">
					<h:outputText value="#{producto.productoId}" />
				</p:column>
				<p:column headerText="Nombre">
					<h:outputText value="#{producto.nombre}" />
				</p:column>
				
				<p:column headerText="Tipo Producto">
					<h:outputText value="#{producto.tipoProducto.nombre}" />
				</p:column>
				
				<p:column headerText="Precio Unitario">
					<h:outputText value="#{producto.precioUnitario}" />
				</p:column>
				
				<p:column headerText="Stock">
					<h:outputText value="#{producto.stock}" />
				</p:column>
				
				<p:column headerText="Descripcion">
					<h:outputText value="#{producto.descripcion}" />
				</p:column>
				
				<p:column headerText="Mostrar">
					<p:commandButton update="@([id$=panelVer])" process="@this"
						action="#{mantenimientoMb.seleccionarProducto}"
						oncomplete="PF('verDialog').show()" icon="ui-icon-search" title="Ver">
		            </p:commandButton>
		            
		            <p:commandButton update="@([id$=editarOutputPanel])" process="@this"
		            action="#{mantenimientoMb.seleccionarProducto}"
						oncomplete="PF('editarDialog').show()" icon="fa fa-fw fa-edit" title="Editar">
		            </p:commandButton>
		            
					<p:commandButton update="tablaProducto"
						action="#{mantenimientoMb.eliminarProducto}" icon="fa fa-remove">
						<p:confirm header="Confirmación Eliminación" icon="ui-icon-alert" 
							message="Está seguro que desea eliminar el Producto #{producto.nombre}" />
					</p:commandButton>
		            
				</p:column>
			</p:dataTable>

		</p:panel>

	<p:dialog header="Informacion de producto" showEffect="bounce" widgetVar="verDialog" modal="false"  hideEffect="fade" resizable="false">
        <p:outputPanel id="panelVer" style="text-align:center;">
            <p:panelGrid  columns="2" rendered="#{mantenimientoMb.productoConsulta!=null}" >
                <h:outputText value="Id:" />
                <h:outputText value="#{mantenimientoMb.productoConsulta.productoId}"  />
 
                <h:outputText value="Nombre" />
                <h:outputText value="#{mantenimientoMb.productoConsulta.nombre}" />
 
 				<h:outputText value="Precio unitario" />
                <h:outputText value="#{mantenimientoMb.productoConsulta.precioUnitario}" />
                
 				<h:outputText value="Stock" />
                <h:outputText value="#{mantenimientoMb.productoConsulta.stock}" />
 
                <h:outputText value="Descripcion" />
                <h:outputText value="#{mantenimientoMb.productoConsulta.descripcion}" />
 
            </p:panelGrid>
        </p:outputPanel>
    </p:dialog>
    
    <p:dialog header="Editar producto"  widgetVar="editarDialog"  modal="false" showEffect="fade" hideEffect="fade" resizable="false">
	        <p:outputPanel id="editarOutputPanel" style="text-align:center;">
	            <p:panelGrid  columns="2" rendered="#{mantenimientoMb.productoConsulta!=null}" >
	                <h:outputText value="Id:" />
	                <h:outputText value="#{mantenimientoMb.productoConsulta.productoId}" />
	 
	                <h:outputText value="Nombre" />
	                <p:inputText value="#{mantenimientoMb.productoConsulta.nombre}">
	                <p:ajax event="change" process="@this" />
	                </p:inputText>
	                
	                <h:outputText value="Tipo Producto" />
	                <p:selectOneMenu converter="ConverterGeneral"
						value="#{mantenimientoMb.productoConsulta.tipoProducto}"
						label="Tipo de Producto">
						<f:selectItem noSelectionOption="true" 
						itemLabel="Seleccione un tipo de producto"/>
						<f:selectItems value="#{mantenimientoMb.lstTipoProducto}"
							var="obj" itemLabel="#{obj.nombre}"
							itemValue="#{obj}" />
						<p:ajax event="change" process="@this" />
					</p:selectOneMenu>
	                
	                
	                <h:outputText value="Precio unitario" />
	               
                <p:inputText value="#{mantenimientoMb.productoConsulta.precioUnitario}" >
                  <p:ajax event="change" process="@this" />
                  </p:inputText>
                  
 				<h:outputText value="Stock" />
 				 
                <p:inputText value="#{mantenimientoMb.productoConsulta.stock}" >
                <p:ajax event="change" process="@this" />
				</p:inputText>
	                <h:outputText value="Descripcion" />
	  				<p:inputText value="#{mantenimientoMb.productoConsulta.descripcion}">
	               		 <p:ajax event="change" process="@this" />
	                </p:inputText>
	            </p:panelGrid>
	            <p:commandButton
						action="#{mantenimientoMb.actualizarProducto}"
						oncomplete="PF('editarDialog').hide()"
						process="@this" icon="fa fa-save" 
						update="msgs,basic,panelVer" />
	        </p:outputPanel>
    </p:dialog>



	</h:form>
	
		<p:confirmDialog  global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Sí" 
			icon="fa fa-check" styleClass="ui-confirmdialog-yes"/>
		<p:commandButton value="No" styleClass="ui-confirmdialog-no"
			icon="fa fa-close" />
	</p:confirmDialog>
	
	
	</ui:define>
</ui:composition>