<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">
	<ui:define name="content">


	<link rel="stylesheet" type="text/css" href="estilos.css"></link>
	<h:form id="form">
		
		<p:panel id="basic" header="Registro de tipo de producto"
			style="margin-bottom:20px">
		
		
		
			
	<p:tabView dynamic="true" cache="true" header="Registro de tipo de producto">
			 
        <p:tab title="Ingresar">
            <h:panelGrid columns="2" cellpadding="10">
            
            <p:inputText value="#{mantenimientoMb.tipoProducto.nombre}"
					placeholder="Nombre">
					<p:ajax event="change" process="@this" />
					</p:inputText>
					
                <p:inputTextarea value="#{mantenimientoMb.tipoProducto.descripcion}"
					placeholder="Descripcion" >
					<p:ajax event="change" process="@this" />
					</p:inputTextarea>
                   
                    	<p:commandButton action="#{mantenimientoMb.crear}"
				process="@this" value="Crear tipo producto" update="form"  />
            </h:panelGrid>
         </p:tab>
         
        
        <p:tab title="Editar">
            <h:panelGrid columns="2" cellpadding="10">
              
              
              
              <p:dataTable var="tipoProducto" emptyMessage="No hay Registros de Tipo Producto"
              filteredValue="#{dtColumnsView.filteredCars}"
				value="#{mantenimientoMb.lstTipoProducto}" id="tablaTipoProducto"
				
				rendered="#{mantenimientoMb.lstTipoProducto!=null}">

				<p:column headerText="Id" columnIndexVar="colIndex">
					<h:outputText value="#{tipoProducto.tipoProductoId}" />
					<f:facet name="header">
                <h:outputText value="#{column.header}" />
            </f:facet>
				</p:column>

				<p:column headerText="Nombre">
					<h:outputText value="#{tipoProducto.nombre}" />
				</p:column>

				<p:column headerText="Descripcion">
					<h:outputText value="#{tipoProducto.descripcion}" />
				</p:column>
<!--  
				<p:column headerText="Mostrar">
				<p:commandButton update="@([id$=tipoProductoOutputPanel])" process="@this"
						action="#{mantenimientoMb.seleccionarElemento}"
						oncomplete="PF('tipoProductoDialog').show()" icon="ui-icon-search" title="Ver">
		            </p:commandButton>
				
					
					
				</p:column>
-->
				<p:column headerText="Editar">
					<p:commandButton update="form" 
						oncomplete="PF('ediproducto').show()" icon="fa fa-fw fa-edit"
						title="Editar"  
						action="#{mantenimientoMb.seleccionarElemento}" process="@this">
						 
				 	</p:commandButton>
				 	</p:column>

<!-- 	<p:column headerText="Eliminar">
					<p:commandButton update="tablaTipoProducto"
						action="#{mantenimientoMb.eliminarTipoProducto}" icon="fa fa-fw fa-remove">
						<p:confirm header="Confirmación Eliminación" icon="ui-icon-alert"
						message="Esta seguro que desea eliminar la marca #{tipoProducto.nombre}"/>
					</p:commandButton>
				</p:column>
  -->
			
			</p:dataTable>
             </h:panelGrid>
             </p:tab>
             
               
             
        <p:tab title="Eliminar">
            <h:panelGrid columns="2" cellpadding="10">
                
                 <p:dataTable var="tipoProducto" emptyMessage="No hay Registros de Tipo Producto"
              filteredValue="#{dtColumnsView.filteredCars}"
				value="#{mantenimientoMb.lstTipoProducto}" id="tablaTipoProductoE"
				
				rendered="#{mantenimientoMb.lstTipoProducto!=null}">

				<p:column headerText="Id" columnIndexVar="colIndex">
					<h:outputText value="#{tipoProducto.tipoProductoId}" />
					
           
				</p:column>

				<p:column headerText="Nombre">
					<h:outputText value="#{tipoProducto.nombre}" />
				</p:column>

				<p:column headerText="Descripcion">
					<h:outputText value="#{tipoProducto.descripcion}" />
				</p:column>

				
				<p:column headerText="Eliminar">
					<p:commandButton update="form"
						action="#{mantenimientoMb.eliminarTipoProducto}" icon="fa fa-fw fa-remove">
						<p:confirm header="Confirmación Eliminación" icon="ui-icon-alert"
						message="Esta seguro que desea eliminar la marca #{tipoProducto.nombre}"/>
					</p:commandButton>
				</p:column>

			
			</p:dataTable>
                
                
                
            </h:panelGrid>
        </p:tab>
    </p:tabView>
    
    
    
    
				<p:commandButton action="#{mantenimientoMb.crear}"
				process="@this" value="Crear tipo producto" update="msgs,basic"  />

			<p:commandButton action="#{mantenimientoMb.consultarTodos}"
				value="CONSULTAR TIPO PROD." process="@this" update="msgs,basic" />

			
			

		</p:panel>

		
		<p:dialog header="Informacion de tipo de producto" widgetVar="tipoProductoDialog" modal="false" showEffect="fade" hideEffect="fade" resizable="false">
        <p:outputPanel id="tipoProductoOutputPanel" style="text-align:center;">
            <p:panelGrid  columns="2" rendered="#{mantenimientoMb.tipoProductoConsulta!=null}" >
                <h:outputText value="Id:" />
                <h:outputText value="#{mantenimientoMb.tipoProductoConsulta.tipoProductoId}" />
 
                <h:outputText value="Nombre" />
                <h:outputText value="#{mantenimientoMb.tipoProductoConsulta.nombre}" />
 
                <h:outputText value="Descripcion" />
                <h:outputText value="#{mantenimientoMb.tipoProductoConsulta.descripcion}" />
 
            </p:panelGrid>
        </p:outputPanel>
    </p:dialog>
	
		<p:dialog header="Editar producto" widgetVar="ediproducto"
			modal="false" showEffect="fade" hideEffect="fade" resizable="false">
			<p:outputPanel id="editartipoProducto" style="text-align:center;">
				<p:panelGrid columns="2" rendered="#{mantenimientoMb.tipoProductoConsulta!=null}">

					<h:outputText value="Id:" />
					<h:outputText
						value="#{mantenimientoMb.tipoProductoConsulta.tipoProductoId}" />

					<h:outputText value="Nombre" />
					<p:inputText value="#{mantenimientoMb.tipoProductoConsulta.nombre}">
					<p:ajax event="change" process="@this" />
					</p:inputText>

					<h:outputText value="Descripcion" />
					<p:inputText
						value="#{mantenimientoMb.tipoProductoConsulta.descripcion}">
						<p:ajax event="change" process="@this" />
					</p:inputText>


				</p:panelGrid>
				
				<p:commandButton
						action="#{mantenimientoMb.actualizarTipoProducto}"
						oncomplete="PF('ediproducto').hide()"
						process="@this" icon="fa fa-save" 
						update="msgs,basic,tipoProductoOutputPanel" />
	        </p:outputPanel>
		</p:dialog>
</h:form>

	<p:confirmDialog  global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Sí" 
			icon="fa fa-check" styleClass="ui-confirmdialog-yes"/>
		<p:commandButton value="No" styleClass="ui-confirmdialog-no"
			icon="fa fa-close" />
	</p:confirmDialog>

	</ui:define>
</ui:composition>	