<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">
	<ui:define name="content">
<h:head>
	<title>Mantenimientos de tipo impuesto</title>
</h:head>

	<h:form id="form">
		<p:growl id="msgs" showDetail="true" globalOnly="true" />
		<p:panel id="basic" header="Mantenimiento de tipo impuesto"
			style="margin-bottom:20px">
			<h:panelGrid columns="1" cellpadding="10">
				<h:panelGrid columns="2" >
					<p:inputNumber value="#{mantenimientoMb.idTipoImpuesto}" decimalPlaces="0"
					thousandSeparator=""
						placeholder="Buscar">
						<p:ajax event="change" process="@this" />
					</p:inputNumber>
					<p:commandButton
						action="#{mantenimientoMb.consultarTipoImpuestoXPk}"
						oncomplete="PF('verDialog').show()"
						process="@this" icon="fa fa-search" 
						update="msgs,basic,panelVer" />
				</h:panelGrid>
				
				<p:inputText value="#{mantenimientoMb.tipoImpuestoNuevo.nombre}"
					placeholder="Nombre">
						<p:ajax event="change" process="@this" />
					</p:inputText>
					
									
					<p:inputTextarea
						value="#{mantenimientoMb.tipoImpuestoNuevo.descripcion}"
						placeholder="Descripcion" >
						<p:ajax event="change" process="@this" />
						</p:inputTextarea>
					
					<p:inputNumber value="#{mantenimientoMb.tipoImpuestoNuevo.valor}" 
						 decimalPlaces="0"  thousandSeparator="" placeholder="Valor" required="true" requiredMessage="Se requiere valor" > 
						 
					
						<p:ajax event="change" process="@this" />
					</p:inputNumber>
						
						
			</h:panelGrid>
			<p:commandButton action="#{mantenimientoMb.crearTipoImpuesto}" process="@this"
				value="Crear Tipo Impuesto" update="msgs,basic" />

			<p:commandButton action="#{mantenimientoMb.consultarTodosTipoImpuesto}"
				process="@this" value="Consultar Tipo impuesto" update="msgs,basic" />

			<p:dataTable var="tipoImpuesto" emptyMessage="No hay Registros de Tipo de impuesto"
				value="#{mantenimientoMb.lstTipoImpuesto}" id="tablaTipoImpuesto"
				rendered="#{mantenimientoMb.lstTipoImpuesto!=null}">
				<p:column headerText="Id">
					<h:outputText value="#{tipoImpuesto.tipoImpuestoId}" />
				</p:column>
				<p:column headerText="Nombre">
					<h:outputText value="#{tipoImpuesto.nombre}" />
				</p:column>
								
				<p:column headerText="Descripcion">
					<h:outputText value="#{tipoImpuesto.descripcion}" />
				</p:column>
				
				<p:column headerText="Valor" >
					<h:outputText value="#{tipoImpuesto.valor}" />
				</p:column>
				<p:column headerText="Mostrar">
					<p:commandButton update="@([id$=panelVer])" process="@this"
						action="#{mantenimientoMb.seleccionarTipoImpuesto}"
						oncomplete="PF('verDialog').show()" icon="ui-icon-search" title="Ver">
		            </p:commandButton>
		            <p:commandButton update="@([id$=editarOutputPanel])" process="@this"
		            action="#{mantenimientoMb.seleccionarTipoImpuesto}"
						oncomplete="PF('editarDialog').show()" icon="fa fa-fw fa-edit" title="Editar">
		            </p:commandButton>
		            
					<p:commandButton update="tablaTipoImpuesto"
						action="#{mantenimientoMb.eliminarTipoImpuesto}" icon="fa fa-remove">
						<p:confirm header="Confirmación Eliminación" icon="ui-icon-alert" 
							message="Está seguro que desea eliminar el Tipo de impuesto #{tipoImpuesto.nombre}" />
					</p:commandButton>
		            
				</p:column>
			</p:dataTable>
		</p:panel>

	<p:dialog header="Informacion de tipo impuesto" showEffect="bounce" widgetVar="verDialog" modal="false"  hideEffect="fade" resizable="false">
        <p:outputPanel id="panelVer" style="text-align:center;">
            <p:panelGrid  columns="2" rendered="#{mantenimientoMb.tipoImpuestoConsulta!=null}" >
                <h:outputText value="Id:" />
                <h:outputText value="#{mantenimientoMb.tipoImpuestoConsulta.tipoImpuestoId}" />
 
                <h:outputText value="Nombre" />
                <h:outputText value="#{mantenimientoMb.tipoImpuestoConsulta.nombre}" />
 
                <h:outputText value="Descripcion" />
                <h:outputText value="#{mantenimientoMb.tipoImpuestoConsulta.descripcion}" />
 				<h:outputText value="Valor" />
                <h:outputText value="#{mantenimientoMb.tipoImpuestoConsulta.valor}" />
 
            </p:panelGrid>
        </p:outputPanel>
    </p:dialog>
    
    <p:dialog header="Editar Tipo impuesto"  widgetVar="editarDialog"  modal="false" showEffect="fade" hideEffect="fade" resizable="false">
	        <p:outputPanel id="editarOutputPanel" style="text-align:center;">
	            <p:panelGrid  columns="2" rendered="#{mantenimientoMb.tipoImpuestoConsulta!=null}" >
	                <h:outputText value="Id:" />
	                <h:outputText value="#{mantenimientoMb.tipoImpuestoConsulta.tipoImpuestoId}" />
	 
	                <h:outputText value="Nombre" />
	                <p:inputText value="#{mantenimientoMb.tipoImpuestoConsulta.nombre}">
	                <p:ajax event="change" process="@this" />
	                </p:inputText>
	 
	                <h:outputText value="Descripcion" />
	  				<p:inputText value="#{mantenimientoMb.tipoImpuestoConsulta.descripcion}">
	               		 <p:ajax event="change" process="@this" />
	                </p:inputText>
	                
	                 <h:outputText value="Valor" />
	  				<p:inputText value="#{mantenimientoMb.tipoImpuestoConsulta.valor}">
	               		 <p:ajax event="change" process="@this" />
	                </p:inputText>
	                
	            </p:panelGrid>
	            <p:commandButton
						action="#{mantenimientoMb.actualizarTipoImpuesto}"
						oncomplete="PF('editarDialog').hide()"
						process="@this" icon="fa fa-save" 
						update="msgs,basic,panelVer" />
	        </p:outputPanel>
    </p:dialog>



	</h:form>
	
		<p:confirmDialog  global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Sí" 
			icon="fa fa-check" styleClass="ui-confirmdialog-yes"/>
		<p:commandButton value="No" styleClass="ui-confirmdialog-no"
			icon="fa fa-close" />
	</p:confirmDialog>
	

	</ui:define>
</ui:composition>