<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Menu de aplicacion</title>
	
</h:head>
<h:body>

<h:form>
	<p:menu toggleable="true">
		<p:submenu label="Mantenimientos">
			<p:menuitem value="Tipo de Producto" outcome="m-tipo_producto"
				icon="fa fa fa-gear" />
			<p:menuitem value="Producto" outcome="m-producto.xhtml"
				icon="fa fa fa-th" />
			<p:menuitem value="Cliente" outcome="m-cliente.xhtml"
				icon="fa fa fa-child" />
				<p:menuitem value="Tipo Impuesto" outcome="m-tipo_impuesto.xhtml"
				icon="fa fa fa-line-chart" />
				<p:menuitem value="Marca" outcome="m-marca.xhtml"
				icon="fa fa fa-tags" />
				
				<p:menuitem value="Cerrar sesion" action="#{loginMb.cerrarSesion}"
				icon="ui-icon-home" />	
				
		</p:submenu>
		<p:submenu label="Facturacion">
		
		
		<p:menuitem value="Factura" outcome="m-factura.xhtml"
				icon="fa fa fa-shopping-cart" />
				
		<p:menuitem value="Detalle Factura" outcome="m-detalle_factura.xhtml"
				icon="fa fa fa-list-alt" />
		</p:submenu>
		
	</p:menu>
	</h:form>
</h:body>
</html>
