<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"  
	  xmlns:p="http://primefaces.org/ui">
<h:head>
<title>Principal</title>
</h:head>
<h:body>

	
	
	<h:form>  
    <p:growl id="messages"/>
 
    <p:menubar>
        <p:submenu label="File" icon="ui-icon-document">
            <p:submenu label="New" icon="ui-icon-contact">
                <p:menuitem value="Ver tabla" url="tabla.xhtml" />
                <p:menuitem value="Other" url="#" />
            </p:submenu>
            <p:menuitem value="VER TABLA" url="tabla.xhtml" />
            <p:separator />
            <p:menuitem value="Quit" url="#" />
        </p:submenu>
 
        <p:submenu label="Edit" icon="ui-icon-pencil">
            <p:menuitem value="Undo" url="#" icon="ui-icon-arrowreturnthick-1-w" />
            <p:menuitem value="Redo" url="#" icon="ui-icon-arrowreturnthick-1-e" />
        </p:submenu>
 
        <p:submenu label="Help" icon="ui-icon-help">
            <p:menuitem value="Contents" url="#" />
            <p:submenu label="Search" icon="ui-icon-search">
                <p:submenu label="Text">
                    <p:menuitem value="Workspace" url="#" />
                </p:submenu>
                <p:menuitem value="File" url="#" />
            </p:submenu>
        </p:submenu>
 
        <p:submenu label="Actions" icon="ui-icon-gear">
            <p:submenu label="Ajax" icon="ui-icon-refresh">
                <p:menuitem value="Save" actionListener="#{menuView.save}" icon="ui-icon-disk" update="messages"/>
                <p:menuitem value="Update" actionListener="#{menuView.update}" icon="ui-icon-arrowrefresh-1-w" update="messages"/>
            </p:submenu>
            <p:submenu label="Non-Ajax" icon="ui-icon-newwin">
                <p:menuitem value="Delete" actionListener="#{menuView.delete}" icon="ui-icon-close" update="messages" ajax="false"/>
            </p:submenu>
        </p:submenu>
 
        <p:menuitem value="Quit" url="http://www.primefaces.org" icon="ui-icon-close" />
 
        <f:facet name="options">
            <p:inputText style="margin-right:10px" placeholder="Search"/>
            <p:commandButton type="button" value="Logout" icon="ui-icon-extlink" />
        </f:facet>
    </p:menubar>
</h:form>
	
	
	
	
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<h:form>          
    <h:panelGrid columns="2" cellpadding="5" style="margin-left: 20px">
        <h:outputText value="Inline: " />
        <p:colorPicker value="#{colorView.colorInline}" mode="inline" />
 
        <h:outputText value="Popup: " />
        <p:colorPicker value="#{colorView.colorPopup}" />                   
    </h:panelGrid>
 
    <p:separator />
 
    <p:commandButton value="Submit" oncomplete="PF('dlg').show();" update="grid" style="margin-left: 20px" />
 
    <p:dialog modal="true" widgetVar="dlg" showEffect="fade" hideEffect="fade" header="Selected Colors" resizable="false">
        <h:panelGrid id="grid" columns="2" cellpadding="5">
            <h:outputText value="Inline color: " />
            <h:outputText value="#{colorView.colorInline}" style="background-color: \##{colorView.colorInline}" />
 
            <h:outputText value="Popup color: " />
            <h:outputText value="#{colorView.colorPopup}" style="background-color: \##{colorView.colorPopup}" />
        </h:panelGrid>
    </p:dialog> 
</h:form>
	
	
	
</h:body>
</html>
