body {
	background: #FF2D5A url('images/body.png') repeat scroll top left;
	margin:0;
	padding:0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #666;
}

* {
	margin:0;
	padding:0;
}

/** element defaults **/
table {
	width: 100%;
	text-align: left;
}

th, td {
	padding: 10px 10px;
}

th {
	color: #fff;
	background: #3791C6 url('images/slider-top.png') repeat-x scroll 0 -20px;
	border-bottom: 1px solid #2E78A3;
}

td {
	border-bottom: 1px solid #ccc;
}

code, blockquote {
	display: block;
	border-left: 5px solid #222;
	padding: 10px;
	margin-bottom: 20px;
}
code {
	background-color: #222;
	color:#ccc;
	border: none;
}
blockquote {
	border-left: 5px solid #222;
}

blockquote p {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	color: #333;
	height: 1%;
}

p {
	line-height: 1.9em;
	margin-bottom: 20px;
	font-size: 12px;
}

a {
	color: #3791C6;
}

a:hover {
	color: #79B6DA;
}

a:focus {
	outline: none;
}

fieldset {
	display: block;
	border: none;
	border-top: 1px solid #ccc;
}

fieldset legend {
	font-weight: bold;
	font-size: 13px;
	padding-right: 10px;
	color: #333;
}

fieldset form {
	padding-top: 15px;
}

fieldset p label {
	float: left;
	width: 150px;
}

form input, form select, form textarea {
	padding: 5px;
	color: #333333;
	border: 1px solid #ddd;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

form input.formbutton {
	border: none;
	background: #333;
	color: #ffffff;
	font-weight: bold;
	padding: 5px 10px;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	letter-spacing: 1px;
	width: auto;
	overflow: visible;
}

fieldset form input.formbutton {
	margin-left: 150px;
}

form.searchform p {
	margin: 5px 0;
}


span.required {
	color: #ff0000;
}

h1 {
	color: #000;
	font-size: 35px;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 0;
	background: none;
	border-bottom: none;
	text-transform: none;
	line-height: 1.0em;
	padding: 0 0 5px;
}

h1 strong {
	color: #03315C;
	font-weight: normal;
}

h2 {
	color: #03315C;
	font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
	font-size: 28px;
	letter-spacing: -0.25px;
	font-weight: normal;
	padding: 0 0 5px;
	margin: 0;
}

h3 {
	color: #26678C;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 10px;
	font-family: 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
}

h4 {
	padding-bottom: 10px;
	font-size: 15px;
	color: #555;
}

h5 {
	padding-bottom: 10px;
	font-size: 13px;
	color: #999;
}

ul, ol {
	margin: 0 0 35px 35px;
}

li {
	padding-bottom: 5px;
}

li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}

ul.styledlist {
	list-style: none;
	margin-left: 20px;

}

ul.styledlist li {
	background: #fff url('images/list-item.gif') no-repeat scroll left center;
	padding-left: 15px;
	padding-bottom: 0;
	margin-bottom: 5px;
}


#container {
	width: 980px;
	margin: 0 auto;
	padding: 0;
        
}

#header {
	padding: 4px 20px 0;
	background: transparent url('images/footer.png') no-repeat scroll bottom left;
	margin: 0 auto 15px;
	height: 215px;
        
        /*132*/
}

#header h1 {
	padding: 0; 
}
#header h1 a {
	color: #53A0CF;
	padding-top: 35px;
	font-size: 40px;
	font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: -3px;
	float: left;
}

#header h2 {
	color: #c0c0c0;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0;
	margin-left: 5px;
	margin-top: 52px;
	padding-bottom: 0;
	padding-left: 4px;
}

#nav {
	height: 45px;
	width: 980px;
	background: transparent url('images/nav-bg.png') no-repeat scroll;
	position: relative;
	z-index: 999;
	
	
}

#nav ul {
	list-style: none;
	padding: 0;
	margin: 0 20px;
	height: 45px;
}

#nav ul ul {
	margin: 0;
}

#nav ul li {
	display: block;
	float: left;
}

#nav ul li a {
	color: #eee;
	display: block;
	font-size: 12px;
	font-weight: normal;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	padding: 17px 15px 16px;
	text-decoration: none;
}

#nav ul li a.has_submenu {
	background: transparent url('images/submenu-item.gif') no-repeat scroll right center;
	padding-right: 30px;
}

#nav ul li a.has_submenu:hover, #nav ul li.sfHover a.has_submenu {
	background-image: url('images/submenu-item-hover.gif');
}

#nav ul ul li a { 
	float: none; 
	width: 170px;
}

#nav ul li.selected li a { 
	text-decoration: none; 
	color: #ddd;
}

#nav ul li.selected a, #nav ul li.selected a:hover, #nav ul li.selected li.selected a, #nav ul li.selected li.selected a:hover  {
	color: #fff;
	font-weight: bold;
}

#nav ul ul a,  #nav ul li.sfHover a, #nav ul li a:hover {
	color: #fff;
	background-color: #022545;
}

#nav ul li.sfHover ul li a, #nav ul li.sfHover ul li a:hover {
	font-weight: normal;
}

#nav ul ul li a:hover {
	font-weight: normal;
	background-color: #01182D;
}

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
	display: block;
	
}
.sf-menu {
	line-height:	1.0;
	display: block;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			1000px; /* left offset of submenus need to match (see below) */
	margin-top: 	10px;
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			45px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			200px; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}


/* front page slider styles */
div#jFlowSlide {
	margin:0 auto;
}
div#slides-container {
	height: 275px;
	overflow: hidden; 
	width: 980px; 
	background: #3791C6 url('images/slider-top.png') no-repeat scroll top left;
}
div#slides-container div#jFlowSlide {
	height: 315px;
	margin-top: 30px;
}
div#slides-container div.jFlowSlideContainer img {
	margin:auto;
}
div#slides-container div.jFlowSlideContainer div {
}
div#slides-container div.jFlowSlideContainer div.slide-image {
	float:left;
	width: 370px;
	padding-top: 0px;
}
span.jFlowPrev, span.jFlowNext {
	background-image:url('images/slide-prev.gif');
	background-repeat:no-repeat;
	display:block;
	height:41px;
	width:24px;
	float:left;
	margin:0;
	cursor:pointer;
}
span.jFlowPrev span, span.jFlowNext span { display:none; }
span.jFlowNext {
	background-image:url('images/slide-next.gif');
	float:right;
}
div#slides-container div.controls {
	position:relative;
	top:-130px;
	width:940px;
	margin:0 auto;
}
div#slides-container p {
	padding-top: 10px;
	color: #eee;
}
div#slides-container a {
	color: #eee;
}
div#slides-container h2, div#sub-header h2 {
	font-family: 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	color: #fff;
	text-shadow: 1px 1px #21441D;
	font-weight: normal;
}
div.slide-text {
	padding-top: 10px;
}

.hidden { display:none;  }

#body {
	margin:0 auto;
	padding: 20px 20px;
	width: 940px;
	background: #fff url('images/content-top.png') no-repeat scroll top left;
}

#container div.has-slider { 
	background: #fff url('images/content-top-slider.png') no-repeat scroll top left;
}

#content {
	float: left;
	width: 655px;
}

.box { 
	margin: 0;
	padding: 0 5px;
}

.sidebar {
	width: 280px;
	padding: 25px 0 0;
	float: right;
}


.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	margin-bottom: 20px;
	line-height: 1.9em;
}

.sidebar li ul {
	padding: 10px;
	background-color: #e0e0e0;
}

.sidebar li ul li {
	display: block;
	border-top: none;
	padding: 6px 2px;
	margin: 0;
	line-height: 1.5em;
	font-size: 13px;
	border: none;
}

.sidebar li ul li a {
	font-weight: normal;
	color: #666;
}

.sidebar li ul li a:hover {
	color: #04427B;
}

.sidebar li ul.blocklist {
	padding: 0;
}

.sidebar li ul.blocklist li {
	padding: 0;
	display: inline;
}

.sidebar li ul.blocklist li a {
	display: block;
	border-bottom:1px solid #e0e0e0;
	padding: 8px 10px;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.sidebar li ul.blocklist li a:hover {
	background-color: #ccc;
	color: #111;
}



.sidebar h4  {
	color: #fff;
	font-family: Lucida, "Lucida Sans", Geneva, Arial, sans-serif;
	font-size: 13px;
	letter-spacing: -0.5px;
	border-bottom: 1px solid #02213B;
	text-transform:uppercase;
	margin: 0;
	line-height: 1.9em;
	padding: 5px 5px 5px 10px;
	font-weight: bold;
	background: #333 url('images/h4-bg.png') repeat-x center;
}

.clear {
	clear: both;
}


#footer p {
	text-align: left;
	color: #999;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.footer-content {
	padding: 30px 20px;
	background: #3791C6 url('images/footer.png') repeat-x scroll top left;
}

#footer .footer-content p {
	color: #666;
	position: relative;
	top: 12px;
	margin-left: 185px;
}

#footer .footer-content p a {
	color: #fff;
	font-family: "Lucida Grande", "lucida sans unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-decoration: none;
	margin: 0 10px;
	padding-bottom: 2px;
	position: relative;
	top: 2px;
}

#footer .footer-content p a:hover {
	color: #fff;
	border-bottom: 2px solid #2C76A0;
}

#footer .footer-content p a.backtotop {
	float: right;
	font-size: 13px;
	top: 3px;
}

#footer .footer-content span.sitename {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: -2px;
	color: #fff;
	float: left;
}

#footer .footer-bottom {
	padding: 30px 20px 0;
	height: 50px;
	color: #666;
	background: #111 url('images/footer2.png') repeat-x scroll top left;
}

#footer .footer-bottom p {
	color: #999;
}

#footer .footer-bottom p a {
	color: #fff;
	font-weight: bold;
}


