<html xmlns="http://www.w3.org/1999/html"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"  
	  xmlns:p="http://primefaces.org/ui">


<h:head>
<title>TABLA</title>
</h:head>
<h:body>


<p:dataTable var="car" value="#{dtBasicView.cars}">
    <p:column headerText="IDENTIFICACION">
        <h:outputText value="#{car.id}" />
    </p:column>
 
    <p:column headerText="ANIO">
        <h:outputText value="#{car.year}" />
    </p:column>
 
    <p:column headerText="MARCA">
        <h:outputText value="#{car.brand}" />
    </p:column>
 
    <p:column headerText="Color">
        <h:outputText value="#{car.color}" />
    </p:column>
</p:dataTable>


</h:body>

</html>